# compilation and distribution
__pycache__
_ext
*.pyc
*.so
experiments/logs
experiments/dped_*


# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea
.vscode
*.egg

# project dirs
data/dped
data/vgg_models
ai_challenge/dped
ai_challenge/models_converted
ai_challenge/models_pretrained
